Source: cassandra-table-properties
Section: contrib/python
Priority: optional
Maintainer: Holger Knust <hknust@wikimedia.org>
Standards-Version: 4.2.0
Build-Depends:
    debhelper (>= 9),
    python3 (>= 3.4),
    python3-yaml,
    python3-cassandra
Homepage: https://github.com/wikimedia/operations-software-cassandra-table-properties
Vcs-Git: https://gerrit.wikimedia.org/r/operations/software/cassandra-table-properties
X-Python-Version: >= 3.4

Package: cassandra-table-properties
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Utility to update Cassandra properties
 This package can be used to update Cassandra properties
 via YAML file instead of writing CQL statements. It also
 allows the user to create a YAML file of the current
 configuration which can then be used to make changes or
 be added to SCM.
